/*loding 动画*/
#preloader_1{
    position:relative;
}
#preloader_1 span{
    display:block;
    bottom:0px;
    width: 9px;
    height: 5px;
    background:#9b59b6;
    position:absolute;
    animation: preloader_1 1.5s  infinite ease-in-out;
}
#preloader_1 span:nth-child(2){
    left:11px;
    animation-delay: .2s;
}
#preloader_1 span:nth-child(3){
    left:22px;
    animation-delay: .4s;
}
#preloader_1 span:nth-child(4){
    left:33px;
    animation-delay: .6s;
}
#preloader_1 span:nth-child(5){
    left:44px;
    animation-delay: .8s;
}
@keyframes preloader_1 {
    0% {height:5px;transform:translateY(0px);background:#9b59b6;}
    25% {height:30px;transform:translateY(15px);background:#3498db;}
    50% {height:5px;transform:translateY(0px);background:#9b59b6;}
    100% {height:5px;transform:translateY(0px);background:#9b59b6;}
}

/*main样式*/
body{
    width:100%;
    height: 100%;
    background-color: #f9f9f9;
}
h5{
    color:#644C80;
}
h4{
    margin-top:4%;
}
.top_img{
    height: 238px;
}
.btn-bg{
    position:fixed;
    bottom:0;
    right:0;
}
._btn_{
    border-radius: 50%;
}
/*留言样式*/
   /*背景色*/
/*.write{
    background-color:#222222;
}*/
   /*图片*/
.check_img{
    position: relative;
    float: right;
    bottom: 32px;
}
   /*按钮*/
.btn_{
    width: 80%;
}
  /*表单*/
.row_{
    margin: 10%;
    margin-bottom: 12%;
}
label{
    line-height: 46px;
}
/*列表样式*/
.img_li{
    height: 68px;
    width: 68px;
}
.float_{
    float:left;
}
p{
    display:inline-block;
}
    /*图片*/
.li_content{
    margin-left:68px;
}
.getword{
    float: right;
    width: 27px;
    margin-right: 5%;
}
    /*评论区*/
.sentWord{
    display: inline-block;
    width: 70%;
    margin-left: 3%;
}
.sent_btn{
    float: right;
    margin-right: 7%;
}
.repeat_2{
    padding-left: 52px;
}
    /*列表之间的空隙*/
.bg_space{
    margin-bottom: 3%;
}

