<div class="write center-block row"                              ng-controller="textForm" id="out">
    <form name="FormSubmit"  ng-submit="save()">

        <h4 class="text-center col-md-6 text-warning ">
            别憋了好吧，<br><br>有什么情绪就使劲写下来
        </h4>

        <div class="form-group row row_">
            <label class="text-primary">匿名：</label>
            <input type="text" class="form-control col-md-6 col-md-offset-2"
                   name="name"
                   ng-model="formdata.name"
                   ng-minlength="1"
                   ng-maxlength="10"
                   placeholder="刻下你喜欢的名字"
                   ng-class="{'error':FormSubmit.name.$invalid && FormSubmit.name.$touched}"
                   required
            >
            <p ng-if="FormSubmit.name.$invalid && FormSubmit.name.$touched" class="text-danger">还没留下你的小匿名</p>
            <img class="check_img" src="images/check.svg" ng-if="FormSubmit.name.$valid"/>
        </div>

        <div class="form-group row row_">
            <label class="text-primary">你的小心事：</label>
            <textarea name="text_area"
                      ng-model="formdata.text_area"
                      class="form-control"
                      id="textarea_1"
                      rows="10"
                      maxlength="300"
                      ng-minlength="1"
                      ng-maxlength="300"
                      placeholder="小心事放在这里呢，不过只能写300字呢"
                      required
                      ng-class="{'error':FormSubmit.text_area.$invalid && FormSubmit.text_area.$touched}"
            >
            </textarea>
            <p  ng-if="FormSubmit.text_area.$invalid && FormSubmit.text_area.$touched" class="text-danger">还没填写呢</p>
        </div>

        <button type="submit" class="btn btn-success center-block btn-default btn_"  ng-disabled="FormSubmit.$invalid" >提交</button>

    </form>

</div>